<#macro head title>
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
	<html class="no-js" xmlns="http://www.w3.org/1999/html">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>${title}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="http://cdn.thinkjet.me/css/base.css">
		<link rel="stylesheet" type="text/css" href="/css/comnon.css"/>
		<link rel="stylesheet" type="text/css" href="/css/module.css"/>
		<link rel="stylesheet" type="text/css" href="/css/siyanjing-admin.css"/>
		<!--[if lt IE 9]>
			<script src="http://cdn.thinkjet.me/js/html5shiv.js"></script>
		<![endif]-->
		<#nested>
	</head>
</#macro>
<#macro body>
	<body>
		<div id="admin_header">
			<img src="http://cdn.thinkjet.me/img/logo.jpg" width="150" height="45"/>
			<span class="title">
				管理后台
			</span>
			<div class="tool">
				<a href="/">返回主页</a>
				<a href="http://my.siyanjing.com/${auth_user.user.username}">我的信息</a>
				<a href="/login/out">退出</a>
			</div>
		</div>
		<table width="100%">
			<tr>
				<td width="150px" valign="top">
					<div id="admin_sider">
						<#include "/layout/admin/_nav.html" />
					</div>
				</td>
				<td width="100%" valign="top">
					<div id="admin_content">
						<#nested>
					</div>
				</td>
			</tr>
		</table>
</#macro>
<#macro script>
	<script src="/js/seajs/sea.js"
		data-config="/js/seajs/config.js">
	</script>
	<#nested>
	</body>
	</html>
</#macro>