<span><i class="icon-file"></i>内容管理</span>
<ul>
	<li><a href="/admin/activity">活动管理</a></li>
	<li><a href="/admin/job">招聘管理</a></li>
	<li><a href="/admin/news">资讯管理</a></li>
	<li><a href="/admin/discuss">讨论区管理</a></li>
</ul>
<span><i class="icon-file"></i>站点管理</span>
<ul>
	<li><a href="/admin/slider">首页slider</a></li>
	<li><a href="/admin/advertisment">广告管理</a></li>
	<li><a href="/admin/links">友情链接</a></li>
</ul>
<span><i class="icon-file"></i>用户管理</span>
<ul>
	<li><a href="/admin/users/global">全局设置</a></li>
	<li><a href="/admin/users">用户管理</a></li>
	<li><a href="/admin/users/admin">管理员管理</a></li>
	<li><a href="/admin/users/log">登录日志</a></li>
	<li><a href="/admin/users/register">注册管理</a></li>
	<li><a href="/admin/users/oauth">第三方登录</a></li>
	
</ul>
<span><i class="icon-file"></i>系统管理</span>
<ul>
	<li><a href="#">test</a></li>
	<li><a href="#">test</a></li>
</ul>
