<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>四眼井论坛</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/comnon.css"/>
        <link rel="stylesheet" type="text/css" href="css/module.css"/>
        <link rel="stylesheet" type="text/css" href="css/theme.css"/>
        <!--[if lt IE 9]>
        <script src="js/dist/html5shiv.js"  type="text/javascript"></script>
        <![endif]-->

    </head>
    <body>
    <header id="header" class="ui-header">
        <div id="topNav" class="ui-top-navwrap">
            <ul class="ui-top-nav">
                <li class="ui-top-nav-item"><a href="/" target="_blank" class="ui-nav-link nav-active"><span class="ui-nav-text">michael</span></a></li>
                <li class="ui-top-nav-item"><a href="/" target="_blank" class="ui-nav-link"><span class="ui-nav-text">michael</span></a></li>
                <li class="ui-top-nav-item"><a href="/" target="_blank" class="ui-nav-link"><span class="ui-nav-text">michael</span></a></li>
                <li class="ui-top-nav-item"><a href="/" target="_blank" class="ui-nav-link"><span class="ui-nav-text">michael</span></a></li>
            </ul>
        </div>
    </header>
    <div class="container t-white-bg clearfix">
       <!-- <aside id="nav-panel">
            <nav id="sideNav" class="sideBar">
                <ul>
                    <li>
                        <figure id="logo"><a href="index.html">四眼井</a> </figure>
                    </li>
                    <hr class="hr_nav"/>
                    <li>
                        <figure>
                            <div class="menuText sl-inline-block"><a href="/">首页</a></div>
                            <i class="icon icon-home"></i>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <div class="menuText sl-inline-block"><a href="/">首页</a></div>
                            <i class="icon icon-home"></i>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <div class="menuText sl-inline-block"><a href="/">首页</a></div>
                            <i class="icon icon-home"></i>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <div class="menuText sl-inline-block"><a href="/">首页</a></div>
                            <i class="icon icon-home"></i>
                        </figure>
                    </li>
                </ul>
            </nav>
        </aside>-->
        <div id="main" class="ui-grid-19 ui-grid-right clearfix">
            <div class="mgl-20">
                <article class="ui-grid-17 ui-article-a">
                    <div class="date">
                        <span class="date-ym">2013-3</span>
                        <span class="date-d">8</span>
                    </div>
                    <h2><a href="#" target="_blank">网页优化之减少往返时间(Minimize round-trip times)</a></h2>
                    <div class="ui-article-info">
                        <span class="ui-category-icon"><i class="icon icon-categroy "></i> <a href="#">web</a></span>
                        <span class="ui-category-icon"><a href="#">web</a></span>
                        <span class="ui-category-icon"><a href="#">web</a></span>
                        <span class="ui-category-icon"><a href="#">web</a></span>
                    </div>
                    <div class="thumbnail-box-big">
                        <div class="thumbnail">
                            <a href="http://www.ishenli.com/?p=165" rel="bookmark" target="_blank" title="网页优化之减少往返时间(Minimize round-trip times)">
                                <img src="http://bcs.duapp.com/wordpressblog/Google-Developers-Logo.png?sign=MBO:37605d0593028e53e3128f4dd3e3e64b:HkyX65fDOs3LgsIJucsPbtsp0BQ%3D" width="430" height="200" alt="网页优化之减少往返时间(Minimize round-trip times)" style="opacity: 1;">
                            </a></div>
                    </div>
                    <div class="thumbnail-txt">
                        <span> 上花费的时间，不包括数据传输的时间。但是它包括下载传输字节的时间(和带宽无关)。例如,浏览器开始第和服务器首次连接,它必定引发3个RTT:1个DNS解析的</span>
                    </div>
                    <div class="ui-article-info">
                        <i class="icon icon-user"></i><span>来源</span>
                        <i class="icon icon-tag"></i> <span>标签</span>
                    </div>
                    <div class="read-more">
                        <a href="#">继续阅读 </a>
                    </div>

                </article>
                <article class="ui-grid-18 ui-article-b">
                    <header class="ui-article-title">
                        <h2><a href="#" target="_blank">网页优化之减少往返时间(Minimize round-trip times)</a></h2>
                    </header>
                    <div class="ui-article-info">
                        <span class="ui-category-icon"><i class="icon icon-categroy "></i> <a href="#">web</a></span>
                        <span class="ui-category-icon"><a href="#">web</a></span>
                        <span class="ui-category-icon"><a href="#">web</a></span>
                        <span class="ui-category-icon"><a href="#">web</a></span>
                    </div>
                    <div class="thumbnail-box">
                        <div class="thumbnail">
                            <a href="http://www.ishenli.com/?p=165" rel="bookmark" target="_blank" title="网页优化之减少往返时间(Minimize round-trip times)">
                                <img src="http://bcs.duapp.com/wordpressblog/Google-Developers-Logo.png?sign=MBO:37605d0593028e53e3128f4dd3e3e64b:HkyX65fDOs3LgsIJucsPbtsp0BQ%3D" width="140" height="100" alt="网页优化之减少往返时间(Minimize round-trip times)" style="opacity: 1;">
                            </a></div>
                    </div>
                    <div class="thumbnail-txt">
                        <span> 减少往返时间(Minimize round-trip times) Round-trip time (RTT)是客户端发送请求和服务端发出响应在网络上花费的时间，不包括数据传输的时间。但是它包括下载传输字节的时间(和带宽无关)。例如,浏览器开始第和服务器首次连接,它必定引发3个RTT:1个DNS解析的</span>
                    </div>
                    <div class="read-more">
                        <a href="#">继续阅读 </a>
                    </div>
                </article>
                <article class="ui-grid-18 ui-article-b">
                    <header class="ui-article-title">
                        <h2><a href="#" target="_blank">网页优化之减少往返时间(Minimize round-trip times)</a></h2>
                    </header>
                    <div class="ui-article-info">
                        <span class="ui-category-icon"><i class="icon icon-categroy "></i> <a href="#">web</a></span>
                        <span class="ui-category-icon"><a href="#">web</a></span>
                        <span class="ui-category-icon"><a href="#">web</a></span>
                        <span class="ui-category-icon"><a href="#">web</a></span>
                    </div>
                    <div class="thumbnail-box">
                        <div class="thumbnail">
                            <a href="http://www.ishenli.com/?p=165" rel="bookmark" target="_blank" title="网页优化之减少往返时间(Minimize round-trip times)">
                                <img src="http://bcs.duapp.com/wordpressblog/Google-Developers-Logo.png?sign=MBO:37605d0593028e53e3128f4dd3e3e64b:HkyX65fDOs3LgsIJucsPbtsp0BQ%3D" width="140" height="100" alt="网页优化之减少往返时间(Minimize round-trip times)" style="opacity: 1;">
                            </a></div>
                    </div>
                    <div class="thumbnail-txt">
                        <span> 减少往返时间(Minimize round-trip times) Round-trip time (RTT)是客户端发送请求和服务端发出响应在网络上花费的时间，不包括数据传输的时间。但是它包括下载传输字节的时间(和带宽无关)。例如,浏览器开始第和服务器首次连接,它必定引发3个RTT:1个DNS解析的</span>
                    </div>
                </article>
                <article class="ui-grid-18 ui-article-b">
                    <header class="ui-article-title">
                        <h2><a href="#" target="_blank">网页优化之减少往返时间(Minimize round-trip times)</a></h2>
                    </header>
                    <div class="ui-article-info">
                        <span class="ui-category-icon"><i class="icon icon-categroy "></i> <a href="#">web</a></span>
                        <span class="ui-category-icon"><a href="#">web</a></span>
                        <span class="ui-category-icon"><a href="#">web</a></span>
                        <span class="ui-category-icon"><a href="#">web</a></span>
                    </div>
                    <div class="thumbnail-box">
                        <div class="thumbnail">
                            <a href="http://www.ishenli.com/?p=165" rel="bookmark" target="_blank" title="网页优化之减少往返时间(Minimize round-trip times)">
                                <img src="http://bcs.duapp.com/wordpressblog/Google-Developers-Logo.png?sign=MBO:37605d0593028e53e3128f4dd3e3e64b:HkyX65fDOs3LgsIJucsPbtsp0BQ%3D" width="140" height="100" alt="网页优化之减少往返时间(Minimize round-trip times)" style="opacity: 1;">
                            </a></div>
                    </div>
                    <div class="thumbnail-txt">
                        <span> 减少往返时间(Minimize round-trip times) Round-trip time (RTT)是客户端发送请求和服务端发出响应在网络上花费的时间，不包括数据传输的时间。但是它包括下载传输字节的时间(和带宽无关)。例如,浏览器开始第和服务器首次连接,它必定引发3个RTT:1个DNS解析的</span>
                    </div>
                </article>
                <div class="pagination">
                    <span class="current">1</span>
                    <a href="#" class="page">2</a>
                    <a href="#" class="page">2</a>
                    <a href="#" class="page">2</a>
                </div>
            </div>
        </div>
        <aside class="ui-grid-6 people-panel">
            <div class="ui-box" id="peopleNav">
                <div class="ui-box-title">
                    <div class="ui-box-title-border sl-linear">
                        <h3>people<span style="">（<span >10</span>）</span></h3>
                        <a href="#" class="ui-box-title-setting" title="管理我的应用">设置</a>
                    </div>
                </div>
                <div class="ui-box-container">
                    <ul class="people-list">
                        <li class="people-item">
                            <a href="#" target="_blank">
                                <span class="avatar">shenli</span>
                                <span class="user-name">xfsdfsdfs</span>
                            </a>
                        </li>
                        <li class="people-item">
                            <a href="#" target="_blank">
                                <span class="avatar">shenli</span>
                                <span class="user-name">xfsdfsdfs</span>
                            </a>
                        </li>
                        <li class="people-item">
                            <a href="#" target="_blank">
                                <span class="avatar">shenli</span>
                                <span class="user-name">xfsdfsdfs</span>
                            </a>
                        </li>
                        <li class="people-item">
                            <a href="#" target="_blank">
                                <span class="avatar">shenli</span>
                                <span class="user-name">xfsdfsdfs</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
    <footer class="footer">
        <section class="footer-body">
            Copyright © 2012-2013 四眼井 |
        </section>
    </footer>
    <!--返回顶部-->
    <div style="display: block;" id="gotop"></div>
    <script type="text/javascript">
        backTop=function (btnId){
            var btn=document.getElementById(btnId);
            var d=document.documentElement;
            var b=document.body;
            window.onscroll=set;
            btn.onclick=function (){
                btn.style.display="none";
                window.onscroll=null;
                this.timer=setInterval(function(){
                    d.scrollTop-=Math.ceil((d.scrollTop+b.scrollTop)*0.1);
                    b.scrollTop-=Math.ceil((d.scrollTop+b.scrollTop)*0.1);
                    if((d.scrollTop+b.scrollTop)==0) clearInterval(btn.timer,window.onscroll=set);
                },10);
            };
            function set(){btn.style.display=(d.scrollTop+b.scrollTop>100)?'block':"none"}
        };
        backTop('gotop');
    </script>
    <!--返回顶部 end-->
    <script type="text/javascript" src="js/sea-modules/seajs/1.3.1/sea.js"></script>
    <script type="text/javascript">
        seajs.config({
            alias: {
                "$": "gallery/jquery.js"
            }
        });

        seajs.use(['$','syj/common'], function($) {
            $(document).ready(function(){

                    }
            );
        });
    </script>
            <!-- Add your site or application content here -->
   <!--     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        &lt;!&ndash; Google Analytics: change UA-XXXXX-X to be your site's ID. &ndash;&gt;
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>-->
    </body>
</html>
