<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>四眼井论坛</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/comnon.css"/>
        <link rel="stylesheet" type="text/css" href="css/module.css"/>
        <link rel="stylesheet" type="text/css" href="css/theme.css"/>
        <!--[if lt IE 9]>
        <script src="js/dist/html5shiv.js"  type="text/javascript"></script>
        <![endif]-->

    </head>
    <body>
    <div class="container t-white-bg clearfix">
        <div id="main" class="ui-grid-19 ui-grid-right">
            <div class="mglr-20">
                <article class="article-body clearfix">
                    <h2>四步找到适合你的VC（创业路线图系列之三）</h2>
                    <div class="ui-article-info">
                        <i class="icon icon-user"></i><span>来源</span>
                        <i class="icon icon-tag"></i> <span>标签</span>
                    </div>
                    <div class="ui-social-button">
                        <!-- JiaThis Button BEGIN -->
                        <div class="jiathis_style">
                            <a class="jiathis_like_tsina" data="width=120"></a>
                            <a class="jiathis_like_qzone"></a>
                        </div>
                        <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1356356967905789" charset="utf-8"></script>
                        <!-- JiaThis Button END -->
                    </div>
                    <div class="article-main">
                        编者按：本文是Allegis Capital创始人、常务董事 Bob Ackerman 的创业者路线图系列之三

                        风险投资家是不一样的。在我们的募资方程中，“what”是资本或美元，这一项是已知的。此外，还有几个变量“how”、“where”，以及“why”，这一切将引导我们寻找最后的变量——“who”。

                        回答了 what、how、where、why 的问题，就形成了一个对风投公司的筛选器，从而确定最有可能对你有兴趣的风投的子集。创业者一定要提前做好调查。时间是你最宝贵的财富，如果接触 VC 之前你没有一个深思熟虑的计划，完全可能事倍功半。

                        筛选的第一步，是了解每个风险投资基金评估潜在投资机会的参数，例如：
                         专注的行业（例如，IT、医疗保健、消费品或媒体）；
                         专注的区域（许多公司只在特定的区域投资）；
                         投资的阶段（种子、早期、成长期或扩张期)；
                        把你排除在投资条件之外的风投，接触他们只是浪费时间。花时间列出通过第一步筛选风投的名单。

                        第二步是进一步缩小这份的名单：
                         风投的专业能力（风投是否能明白你的价值主张，能否“懂你”？）
                         潜在的冲突（该公司具有的专业能力，是否是来自曾经投资你潜在竞争对手？）
                         可用的资本量（VC 公司是否有足够的资本参与一系列的融资？）

                        考察对方专业能力时，关注对方公司中具有专业能力的具体合作伙伴。“公司”通常不带来附加价值，该合作伙伴能。但也有例外，例如，我的公司总是作为一个团队进行投资，但你一定要发现其中的差别。潜在的冲突是非常重要的，及早发现，不要浪费您宝贵的时间用来培训潜在竞争对手的投资者。同样，接近尾声的基金投资者不可能支持你的整个发展周期。

                        第三步是从其他的创业者处，了解风投的声誉：
                         他们能带来附加价值吗？
                         当事情变得棘手，他们会和你共患难吗？
                         他们对募资有帮助吗？他们通常是积极的支持者吗？
                         与他们合作的公司会再次与他们合作吗？

                        创业者并不总是有机会挑选投资者，但至少要制作一个投资者优先表。与风险投资公司的合作是长期的：事先了解清楚，总胜过之后后悔。

                        第四步是名单排序的基础上，确定想与谁合作，然后想办法让自己的公司被热情的介绍给该公司特定的合伙人。

                        风投公司每年评估成百千份潜在投资。通常情况下，只有不到 1％能获得该公司的融资承诺。可能性相当的低。一个受信任下属的“热情推荐”将使你在候选名单中位置前移一些。推荐人越被信任，你可能越快得到一个初步的积极或消极的回应。积极的回应意味着一个初次会面。消极的反应是进一步收集情报的机会，很可能是通过受信任的下属。一个高质量的“不”，也可以帮助你调整和改善您的融资技巧。

                        以我的经验，投资集团总是能够比单个投资者给创业者提供更多的帮助。这将使你的公司获得更广泛的投资经验和网络，而且使创业公司和团队与投资者之间更加平衡。不管因为什么原因，当你需要更多资本时，投资集团有更大的投资潜力。当然，与投资集团共事，要求你除了做好上述的四步，还要选择出能够相互合作的多家公司。</div>
                </article>
                <!-- UY BEGIN -->
                <div id="uyan_frame"></div>
                <script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1612694" async=""></script>
                <!-- UY END -->
                <div class="inset-margin">
                </div>
            </div>
        </div>
        <aside class="ui-grid-6 people-panel">
            <div class="ui-box" id="peopleNav">
                <div class="ui-box-title">
                    <div class="ui-box-title-border sl-linear">
                        <h3>关于作者</h3>
                    </div>
                </div>
                <div class="ui-box-container">
                </div>
            </div>
        </aside>
    </div>
    <footer class="footer">
        <section class="footer-body">
            Copyright © 2012-2013 四眼井 |
        </section>
    </footer>
    <!--返回顶部-->
    <div style="display: block;" id="gotop"></div>
    <script type="text/javascript">
        backTop=function (btnId){
            var btn=document.getElementById(btnId);
            var d=document.documentElement;
            var b=document.body;
            window.onscroll=set;
            btn.onclick=function (){
                btn.style.display="none";
                window.onscroll=null;
                this.timer=setInterval(function(){
                    d.scrollTop-=Math.ceil((d.scrollTop+b.scrollTop)*0.1);
                    b.scrollTop-=Math.ceil((d.scrollTop+b.scrollTop)*0.1);
                    if((d.scrollTop+b.scrollTop)==0) clearInterval(btn.timer,window.onscroll=set);
                },10);
            };
            function set(){btn.style.display=(d.scrollTop+b.scrollTop>100)?'block':"none"}
        };
        backTop('gotop');
    </script>
    <!--返回顶部 end-->
    <script type="text/javascript" src="js/sea-modules/seajs/1.3.1/sea.js"></script>
    <script type="text/javascript">
        seajs.config({
            alias: {
                "$": "gallery/jquery.js"
            }
        });

        seajs.use(['$','syj/common'], function($) {
            $(document).ready(function(){

                    }
            );
        });
    </script>
            <!-- Add your site or application content here -->
   <!--     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        &lt;!&ndash; Google Analytics: change UA-XXXXX-X to be your site's ID. &ndash;&gt;
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>-->
    </body>
</html>
