<#include "/layout/_layout.html" />
<@head title="首页|四眼井|互联网人的乐园 ">
</@head>
<@body 1>
	<div class="w960 mgl-20">
		<div id="slider">
			<div id="switchable-content">
				<ul>
					<#list slider as slider>
					<li class="clearfix item <#if slider_index==0>active</#if>">
						<a class="fn-left" href="#">
							<img src="${slider.img}">
						</a>
						<div class="caption">
							<h3>
								<a href="#">
									${slider.title}
								</a>
							</h3>
							<p>
								${slider.content}
							</p>
						</div>
					</li>
					</#list>
				</ul>
				<a class="left control" href="javascript:void();" id="prev">
					‹
				</a>
				<a class="right control" href="javascript:void();" id="next">
					›
				</a>
			</div>
			<ol id="switchable-nav">
				<#list slider as slider_min>
				<li>
					<a target="_blank" href="javascript:void();">
						<span class="trans_cover <#if slider_min_index==0>active</#if>"></span>
						<img src="${slider_min.img}" alt="">
					</a>
				</li>
				</#list>
			</ol>
		</div>
	</div>
	<div id="main" class="ui-grid-19 ui-grid-right clearfix">
		<div class="mgl-20">
			<div class="ui-grid-9">
				<div class="ui-box">
					<div class="ui-box-title">
							<h3>xxx
								<span style="">
									（
									<span>
										10
									</span>）
								</span>
							</h3>
							<a href="#" class="ui-box-title-more" title="管理我的应用">
								More
							</a>
					</div>
					<div class="ui-box-container ui-box-content">
						<ul class="ui-article-list">
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="ui-grid-9">
				<div class="ui-box">
					<div class="ui-box-title">
							<h3>xxx
								<span style="">
									（
									<span id="J_module_myapp_count">
										10
									</span>）
								</span>
							</h3>
							<a href="#" class="ui-box-title-more" title="管理我的应用">
								More
							</a>
					</div>
					<div class="ui-box-container ui-box-content">
						<ul class="ui-article-list">
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="ui-grid-18">
				<div class="ui-box">
					<div class="ui-box-title">
							<h3>xxx
								<span style="">
									（
									<span id="J_module_myapp_count">
										10
									</span>）
								</span>
							</h3>
							<a href="#" class="ui-box-title-more" title="管理我的应用">
								More
							</a>
					</div>
					<div class="ui-box-container ui-box-content">
						<ul class="ui-article-list">
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-grid-6 people-panel">
		<div class="ui-box" id="peopleNav">
			<div class="ui-box-title">
					<h3>people
						<span style="">
							（
							<span>
								10
							</span>）
						</span>
					</h3>
					<a href="#" class="ui-box-title-more" title="管理我的应用">
						More
					</a>
			</div>
			<div class="ui-box-container">
				<ul class="people-list">
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="ui-grid-6 people-panel">
		<div class="ui-box" id="peopleNav">
			<div class="ui-box-title">
					<h3>people
						<span style="">
							（
							<span>
								10
							</span>）
						</span>
					</h3>
					<a href="#" class="ui-box-title-more" title="管理我的应用">
						More
					</a>
			</div>
			<div class="ui-box-container">
				<ul class="people-list">
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="ui-grid-6 people-panel">
		<div class="ui-box" id="peopleNav">
			<div class="ui-box-title">
					<h3>people
						<span style="">
							（
							<span>
								10
							</span>）
						</span>
					</h3>
					<a href="#" class="ui-box-title-more" title="管理我的应用">
						More
					</a>
			</div>
			<div class="ui-box-container">
				<ul class="people-list">
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="ui-grid-24 mgl-20">
		<div class="ui-box">
			<div class="ui-box-title">
					<h3>people
						<span style="">
							（
							<span>
								10
							</span>）
						</span>
					</h3>
					<a href="#" class="ui-box-title-more" title="管理我的应用">
						More
					</a>
			</div>
			<div class="ui-box-container">
				<ul class="people-list">
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</@body>
<@script>
<script type="text/javascript">
	seajs.use('lib/slider.js',function(slider){
		slider.slider();
	});
</script>
</@script>