<#include "/layout/_layout.html" />
<@head title="首页|四眼井|互联网人的乐园 ">
</@head>
<@body 1>
	<div class="w960 mgl-20">
		<div id="slider">
			<div id="switchable-content">
				<ul>
					<li class="clearfix item active">
						<a class="fn-left" href="#">
							<img src="http://myjpg.qire123.com:84/myupload/newpic/files/201302/19/512335911037f.jpg">
						</a>
						<div class="caption">
							<h3>
								<a href="#">
									卡拉ok
								</a>
							</h3>
							<p>
								《大话西游之除魔传奇》是电影《大话西游》的一个续集。该片继续由喜剧之王周星驰担任主演，故事围绕年少时期
							</p>
						</div>
					</li>
					<#list 1..4 as i>
					<li class="clearfix item">
						<a class="fn-left" href="#">
							<img src="http://myjpg.qire123.com:84/myupload/newpic/files/201302/19/512335911037f.jpg">
						</a>
						<div class="caption">
							<h3>
								<a href="#">
									卡拉ok ${i}
								</a>
							</h3>
							<p>
								《大话西游之除魔传奇》是电影《大话西游》的一个续集。该片继续由喜剧之王周星驰担任主演，故事围绕年少时期
							</p>
						</div>
					</li>
					</#list>
				</ul>
				<a class="left control" href="javascript:void();" id="prev">
					‹
				</a>
				<a class="right control" href="javascript:void();" id="next">
					›
				</a>
			</div>
			<ol id="switchable-nav">
				<li>
					<a target="_blank" href="javascript:void();">
						<span class="trans_cover active"></span>
						<img src="http://myjpg.qire123.com:84/myupload/newpic/files/201302/19/512335911037f.jpg" alt="">
					</a>
				</li>
				<#list 1..4 as i>
				<li>
					<a target="_blank" href="javascript:void();">
						<span class="trans_cover"></span>
						<img src="http://myjpg.qire123.com:84/myupload/newpic/files/201302/19/512335911037f.jpg" alt="">
					</a>
				</li>
				</#list>
			</ol>
		</div>
	</div>
	<div id="main" class="ui-grid-19 ui-grid-right clearfix">
		<div class="mgl-20">
			<div class="ui-grid-9">
				<div class="ui-box">
					<div class="ui-box-title">
							<h3>xxx
								<span style="">
									（
									<span>
										10
									</span>）
								</span>
							</h3>
							<a href="#" class="ui-box-title-more" title="管理我的应用">
								More
							</a>
					</div>
					<div class="ui-box-container ui-box-content">
						<ul class="ui-article-list">
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="ui-grid-9">
				<div class="ui-box">
					<div class="ui-box-title">
							<h3>xxx
								<span style="">
									（
									<span id="J_module_myapp_count">
										10
									</span>）
								</span>
							</h3>
							<a href="#" class="ui-box-title-more" title="管理我的应用">
								More
							</a>
					</div>
					<div class="ui-box-container ui-box-content">
						<ul class="ui-article-list">
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="ui-grid-18">
				<div class="ui-box">
					<div class="ui-box-title">
							<h3>xxx
								<span style="">
									（
									<span id="J_module_myapp_count">
										10
									</span>）
								</span>
							</h3>
							<a href="#" class="ui-box-title-more" title="管理我的应用">
								More
							</a>
					</div>
					<div class="ui-box-container ui-box-content">
						<ul class="ui-article-list">
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
							<li class="ui-article-item">
								<a href="#">
									LinkedIn 实时低延迟数据抓取系统 Databus 开源
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-grid-6 people-panel">
		<div class="ui-box" id="peopleNav">
			<div class="ui-box-title">
					<h3>people
						<span style="">
							（
							<span>
								10
							</span>）
						</span>
					</h3>
					<a href="#" class="ui-box-title-more" title="管理我的应用">
						More
					</a>
			</div>
			<div class="ui-box-container">
				<ul class="people-list">
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="ui-grid-6 people-panel">
		<div class="ui-box" id="peopleNav">
			<div class="ui-box-title">
					<h3>people
						<span style="">
							（
							<span>
								10
							</span>）
						</span>
					</h3>
					<a href="#" class="ui-box-title-more" title="管理我的应用">
						More
					</a>
			</div>
			<div class="ui-box-container">
				<ul class="people-list">
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="ui-grid-6 people-panel">
		<div class="ui-box" id="peopleNav">
			<div class="ui-box-title">
					<h3>people
						<span style="">
							（
							<span>
								10
							</span>）
						</span>
					</h3>
					<a href="#" class="ui-box-title-more" title="管理我的应用">
						More
					</a>
			</div>
			<div class="ui-box-container">
				<ul class="people-list">
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="ui-grid-24 mgl-20">
		<div class="ui-box">
			<div class="ui-box-title">
					<h3>people
						<span style="">
							（
							<span>
								10
							</span>）
						</span>
					</h3>
					<a href="#" class="ui-box-title-more" title="管理我的应用">
						More
					</a>
			</div>
			<div class="ui-box-container">
				<ul class="people-list">
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
					<li class="people-item">
						<a href="#" target="_blank">
							<span class="avatar">
								shenli
							</span>
							<span class="user-name">
								xfsdfsdfs
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</@body>