<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>四眼井论坛</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/comnon.css"/>
        <link rel="stylesheet" type="text/css" href="css/module.css"/>
        <link rel="stylesheet" type="text/css" href="css/theme.css"/>
        <!--[if lt IE 9]>
        <script src="js/dist/html5shiv.js"></script>
        <![endif]-->

    </head>
    <body>
    <header id="header" class="ui-header">
        <div id="topNav" class="ui-top-navwrap">
            <ul class="ui-top-nav">
                <li class="ui-top-nav-item">
                    <a href="/" target="_blank" class="ui-nav-link nav-active">
                        <span class="ui-nav-text">michael</span></a>
                        <ul class="sub-nav">
                            <li><a href="#">二级菜单</a></li>
                            <li>二级菜单</li>
                            <li>二级菜单</li>
                            <li>二级菜单</li>
                        </ul>
                </li>
            </ul>
        </div>
    </header>
    <div class="container w960 t-white-bg clearfix">
        <aside id="nav-panel">
            <nav id="sideNav" class="sideBar">
                <ul>
                    <li>
                        <figure id="logo"><a href="index.html">四眼井</a> </figure>
                    </li>
                    <hr class="hr_nav"/>
                    <li>
                        <figure>
                            <div class="menuText sl-inline-block"><a href="/">首页</a></div>
                            <i class="icon icon-home"></i>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <div class="menuText sl-inline-block"><a href="/">首页</a></div>
                            <i class="icon icon-home"></i>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <div class="menuText sl-inline-block"><a href="/">首页</a></div>
                            <i class="icon icon-home"></i>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <div class="menuText sl-inline-block"><a href="/">首页</a></div>
                            <i class="icon icon-home"></i>
                        </figure>
                    </li>
                </ul>
            </nav>
        </aside>
        <div id="main" class="ui-grid-18 ui-grid-right clearfix">
            <div class="mgl-20">
            <div class="ui-grid-17">
                <div class="ui-box mainPanel">
                    <div class="ui-tab-trigger">
                        <ul class="ui-tab ui-tab-trigger">
                            <li class="ui-tab-trigger-item ui-tab-trigger-item-current">
                                <a href="#" class="ui-tab-trigger-text">职位搜索</a>
                            </li>
                            <li class="ui-tab-trigger-item">
                                <a href="#" class="ui-tab-trigger-text">职位搜索</a>
                            </li>
                            <li class="ui-tab-trigger-item">
                                <a href="#" class="ui-tab-trigger-text">职位搜索</a>
                            </li>
                            <li class="ui-tab-trigger-item">
                                <a href="#" class="ui-tab-trigger-text">职位搜索</a>
                            </li>
                        </ul>
                    </div>
                    <form class="ui-form" method="post">
                        <fieldset>
                            <legend>招聘表单</legend>
                            <div class="ui-form-item">
                                <label class="ui-label">搜索职位：</label>
                                <input type="text" name="" class="ui-input">
                            </div>
                            <div class="ui-form-item">
                                <label class="ui-label">职位类别：</label>
                                <select  class="ui-select" name="province"> <option value=""> 请选择</option> <option value="北京"> 北京</option> <option value="上海"> 上海</option> <option value="天津"> 天津</option> <option value="浙江"> 浙江</option> </select>
                            </div>
                            <div class="ui-form-item">
                                <label class="ui-label">基本薪水：</label>
                                <select id="" class="ui-select" name="province"> <option value=""> 请选择</option> <option value="北京"> 北京</option> <option value="上海"> 上海</option> <option value="天津"> 天津</option> <option value="浙江"> 浙江</option> </select>
                                - <select id="" class="ui-select" name="province"> <option value=""> 请选择</option> <option value="北京"> 北京</option> <option value="上海"> 上海</option> <option value="天津"> 天津</option> <option value="浙江"> 浙江</option> </select>
                            </div>
                            <div class="ui-form-item">
                                <div class="ui-button ui-button-mblue">
                                    <input type="submit" class="ui-button-text" value="查询">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
                <section class="ui-grid-17 people-panel">
                    <div class="ui-box" id="peopleNav">
                        <div class="ui-box-title">
                            <div class="ui-box-title-border sl-linear">
                                <h3>热门招聘</h3>
                                <a href="#" class="ui-box-title-more" title="更多招聘">更多信息</a>
                            </div>
                        </div>
                        <div class="ui-box-container">
                            <div class="ui-table-container">
                                <table class="ui-table"><!-- 可以在class中加入ui-table-inbox或ui-table-noborder分别适应不同的情况 -->
                                    <thead>
                                    <tr>
                                        <th>创建时间</th>
                                        <th>名称<em class="ft-bar">|</em>交易号</th>
                                        <th>对方</th>
                                        <th>金额<em class="ft-bar">|</em>明细</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                        <th>备注</th>
                                    </tr>
                                    </thead><!-- 表头可选 -->
                                    <tbody>
                                    <tr>
                                        <td>${job.name}</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td class="ui-table-action ui-table-selected">Data</td>
                                        <td>Data</td>
                                    </tr>
                                    <tr class="ui-table-split">
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td class="ui-table-action">Data</td>
                                        <td>Data</td>
                                    </tr>
                                    <tr>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td class="ui-table-action">Data</td>
                                        <td>Data</td>
                                    </tr>
                                    <tr class="ui-table-split">
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td class="ui-table-action">Data</td>
                                        <td>Data</td>
                                    </tr>
                                    <tr>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td class="ui-table-action">Data</td>
                                        <td>Data</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <aside class="ui-grid-6">
                <div class="job-panel">
                    <a  href="#" class="job-button job-button-blue">我要招聘</a>
                </div>
                <div class="job-panel">
                    <a  href="#" class="job-button job-button-red">我要招聘</a>
                </div>
        </aside>
        <aside class="ui-grid-6">
            <div class="ui-box job-section">
                <dl>
                    <dt>您的城市:<a href="#"> 杭州 </a>
                    </dt>
                </dl>
            </div>
        </aside>
        <aside class="ui-grid-6">
            <div class="ui-box">
                <div class="ui-box-title">
                    <div class="ui-box-title-border sl-linear">
                        <h3>people</h3>
                    </div>
                </div>
                <div class="ui-box-container">
                    sfsd
                </div>
                </div>
        </aside>
    </div>
    <!--返回顶部-->
    <div style="display: block;" id="gotop"></div>
    <script type="text/javascript">
        backTop=function (btnId){
            var btn=document.getElementById(btnId);
            var d=document.documentElement;
            var b=document.body;
            window.onscroll=set;
            btn.onclick=function (){
                btn.style.display="none";
                window.onscroll=null;
                this.timer=setInterval(function(){
                    d.scrollTop-=Math.ceil((d.scrollTop+b.scrollTop)*0.1);
                    b.scrollTop-=Math.ceil((d.scrollTop+b.scrollTop)*0.1);
                    if((d.scrollTop+b.scrollTop)==0) clearInterval(btn.timer,window.onscroll=set);
                },10);
            };
            function set(){btn.style.display=(d.scrollTop+b.scrollTop>100)?'block':"none"}
        };
        backTop('gotop');
    </script>
    <!--返回顶部 end-->
    <script type="text/javascript" src="js/sea-modules/seajs/1.3.1/sea.js"></script>
    <script type="text/javascript">
        seajs.config({
            alias: {
                "$": "gallery/jquery.js"
            }
        });

        seajs.use(['arale/switchable/0.9.11/slide', '$','syj/common'], function(Slide, $) {
            $(document).ready(function(){
                    }
            );
        });
    </script>
            <!-- Add your site or application content here -->
   <!--     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        &lt;!&ndash; Google Analytics: change UA-XXXXX-X to be your site's ID. &ndash;&gt;
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>-->
    </body>
</html>
