*.pydevproject
.metadata
bin/
tmp/
*.bak
*.swp
*~.nib
local.properties
.loadpath

.externalToolBuilders/

*.launch

Thumbs.db

Desktop.ini

*.class

# Package Files
*.war
*.ear
*.log
*.tmp*
classes/
uploads/
