<aside class="ui-grid-6">
		<div class="job-panel">
			<a href="/job/add" class="job-button job-button-blue">我要招聘</a>
		</div>
		<div class="job-panel">
			<a href="#" class="job-button job-button-red">我要招聘</a>
		</div>
	</aside>
<div class="ui-grid-6">
		<div class="ui-box">
			<div class="ui-box-title">热门职位</div>
			<div class="ui-box-content">
				<ul class="">
					
		
					<#list hotjobtype as hot>
					<li class=""><a href="/job/search?type=${hot.type}"><script type="text/javascript">distype('${hot.type}');</script></a>(${hot.count!})</li> 
					
					</#list>

				</ul>
			</div>
		</div>
	</div>