<#include "/layout/_layout.html" /> <@head title="首页|四眼井|互联网人的乐园 "></@head> <@body> <#include "/layout/_nav.html" /><@nav 5/>
<div class="container clearfix">
    <div class="ui-grid-19">
        <div class="mgl-20">
            <div class="ui-box clearfix">
                <#list activity_list as activity>
                <div class="ui-box-title">
                    <h3>xxx<span style="">（<span>10</span>）</span></h3>
                    <a href="#" class="ui-box-title-more" title="管理我的应用">More</a>
                </div>
                <div class="ui-box-container ui-box-content">
                	
                </div>
                </#list>
            </div>
        </div>
    </div>
</div>
</@body>