<#include "/layout/_layout.html" /> 
<@head title="首页|四眼井|互联网人的乐园 "></@head> 
<@body> 
<div class="clearfix">
    <div class="ui-grid-19">
        <div class="mgl-20">
            <div class="ui-box clearfix">
                <div class="ui-box-title">
                    <h3>xxx<span style="">（<span>10</span>）</span></h3>
                    <a href="#" class="ui-box-title-more" title="管理我的应用">More</a>
                </div>
                <div class="ui-box-content">
                	<ul class="ui-article-list">
                		<#list activitylist.getList() as a>
							<li>
								<a href="/activity/show?id=${a.id}">
									${a.title}
								</a>
							</li>
						</#list>
					</ul>
                </div>
            </div>
        </div>
    </div>
</div>
</@body>