<#include "/layout/admin/_layout.html" /><@head title="四眼井-后台管理系统 "></@head><@body>
<div class="ui-box">
	<div class="ui-box-title">
		<h3>xxx
			<span style="">
				（
				<span id="J_module_myapp_count">
					11
				</span>）
			</span>
		</h3>
		<a href="#" class="ui-box-title-more" title="管理我的应用">
			More
		</a>
	</div>
	<div class="ui-box-container ui-box-content">
		<ul class="ui-article-list">
		<#if job??>
		<#list job as job>
			<li class="ui-article-item">
				<a href="#">
					${job.title}
				</a>
			</li>
			</#list>
			</#if>
			<li class="ui-article-item">
				<a href="#">
					LinkedIn 实时低延迟数据抓取系统 Databus 开源
				</a>
			</li>
			<li class="ui-article-item">
				<a href="#">
					LinkedIn 实时低延迟数据抓取系统 Databus 开源
				</a>
			</li>
			<li class="ui-article-item">
				<a href="#">
					LinkedIn 实时低延迟数据抓取系统 Databus 开源
				</a>
			</li>
			<li class="ui-article-item">
				<a href="#">
					LinkedIn 实时低延迟数据抓取系统 Databus 开源
				</a>
			</li>
			<li class="ui-article-item">
				<a href="#">
					LinkedIn 实时低延迟数据抓取系统 Databus 开源
				</a>
			</li>
		</ul>
	</div>
</div>
</@body>