<#include "/layout/_layout.html" /> <@head title="首页|四眼井|互联网人的乐园 ">
</@head> <@body>
<script type="text/javascript"> 
			var type={"1":"NET程序员","2":"PHP程序员","3":"Java程序员",
			"4":"C/C++程序员","19":"Python程序员","20":"Ruby程序员",
			"5":"JavaScript程序员", "6":"Flash程序员", "7":"Delphi程序员",
			"8":"前端开发工程师", "9":"项目经理", "10":"技术主管", "11":"架构师", "12":"技术总监",
			"13":"测试工程师", "14":"系统管理员", "15":"数据库管理员", "16":"售前工程师",
			"17":"手机应用开发工程师", "18":"其他"};
			var salary={"0000001000":"1000元以下",
			"0100002000":"1000-2000元",
			"0200104000":"2001-4000元",
			"0400106000":"4001-6000元",
			"0600108000":"6001-8000元",
			"0800110000":"8001-10000元",
			"1000115000":"10001-15000元",
			"1500125000":"15000-25000元",
			"2500199999":"25000元以上"}
			function distype(a){
				document.write(type[a]);
			}
			function dissalary(a){
				document.write(salary[a]);
			}</script>
<div class="clearfix">
	<div class="ui-grid-19">
		<div class="mgl-20">
			<div class="ui-box">
				<form action="/job/search" class="ui-form" method="post">
					<fieldset>
						<legend>招聘表单</legend>
						<div class="ui-form-item">
							<label class="ui-label">搜索职位：</label> <input type="text"
								name="name" class="ui-input">
						</div>
						<div class="ui-form-item">
							<label class="ui-label">职位类别：</label> <select class="ui-select"
								name="type">
								<option value="">请选择</option>
								<option value="1">.NET程序员</option>
								<option value="2">PHP程序员</option>
								<option value="3">Java程序员</option>
								<option value="4">C/C++程序员</option>
								<option value="19">Python程序员</option>
								<option value="20">Ruby程序员</option>
								<option value="5">JavaScript程序员</option>
								<option value="6">Flash程序员</option>
								<option value="7">Delphi程序员</option>
								<option value="8">前端开发工程师</option>
								<option value="9">项目经理</option>
								<option value="10">技术主管</option>
								<option value="11">架构师</option>
								<option value="12">技术总监</option>
								<option value="13">测试工程师</option>
								<option value="14">系统管理员</option>
								<option value="15">数据库管理员</option>
								<option value="16">售前工程师</option>
								<option value="17">手机应用开发工程师</option>
								<option value="18">其他</option>
							</select>
						</div>
						<div class="ui-form-item">
							<label class="ui-label">基本薪水：</label> <select id=""
								class="ui-select" name="salary">

								<option value="">请选择职位月薪</option>
								<option value="0000001000">1000元以下</option>
								<option value="0100002000">1000-2000元</option>
								<option value="0200104000">2001-4000元</option>
								<option value="0400106000">4001-6000元</option>
								<option value="0600108000">6001-8000元</option>
								<option value="0800110000">8001-10000元</option>
								<option value="1000115000">10001-15000元</option>
								<option value="1500125000">15000-25000元</option>
								<option value="2500199999">25000元以上</option>
							</select>

						</div>
						<div class="ui-form-item">
							<div class="ui-button ui-button-mblue">
								<input type="submit" class="ui-button-text" value="查询">
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="ui-box clearfix">

				<#list joblist as job>
				<div class="FilterPosition">
					<div class="CoPart" style="float: right; color: gray;">
						<span class="PoCount">评论(<span class="PsDetail"><a
								href="http://www.oschina.net/job/detail/1030362_5336#userComments">${job.comments!"0"}</a></span>)
						</span> <span class="PoCount">阅读(<span class="PsDetail">${job.views!"0"}</span>)
						</span>
					</div>
					<div class="CoPart1 CoPart">
						<span> <a
							href="job/show?id=${job.id}"
							target="_blank" title="JAVA程序员">${job.title}</a>
						</span> <span style="font-weight: normal;"> &nbsp;-&nbsp;<a
							href="http://www.oschina.net/job/firm/1030362_1857"
							target="_blank" title="${job.city}" style="font-size: 13px;">${job.company}</a>
						</span>
					</div>
					<div class="CoPart">
						<span class="PoWrapper"
							style="width: 200px; display: inline-block;">
							月薪：<script type="text/javascript">dissalary('${job.salary}')</script> </span> <span class="PoWrapper"
							style="width: 150px; display: inline-block;"> 类別：<span
							class="PsDetail"><script type="text/javascript">distype('${job.type}');</script></span>
						</span> <span
							style="width: 80px; display: inline-block; font-weight: normal; font-size: 9pt;">

							<a href="/job/?addr_prv=上海" style="color: grey;">${job.city}</a>
						</span> <span style="float: right; color: gray; font-size: 9pt;">
							发布日期：<span class="PsDetail">${job.createtime}</span>
						</span>
					</div>

					<div class="clear"></div>
				</div>
				</#list>


			</div>
		</div>
	</div>
	
	<#include "/layout/job/rightmoudle.html">
</div>

</@body>
