<#macro head title>
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html">
	<head>
        <meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>${title}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="http://cdn.thinkjet.me/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/comnon.css"/>
        <link rel="stylesheet" type="text/css" href="/css/module.css"/>
		<link rel="stylesheet" type="text/css" href="/css/siyanjing.css"/>
		<!--[if lt IE 9]>
        	<script src="http://cdn.thinkjet.me/js/html5shiv.js"></script>
        <![endif]-->
		<#nested>
    </head>
</#macro>
<#macro body nav_index=0>
	<body>
		<#include "/layout/_nav.html" />
		<@nav nav_index/>
		<div class="container clearfix">
			<#nested>
		</div>
		<#include "/layout/_footer.html" />
</#macro>
<#macro script>
	<script src="/js/seajs/sea.js"
		data-config="/js/seajs/config.js"
		data-main="/js/siyanjing.js">
	</script>
	<#nested>
	</body>
	</html>
</#macro>
