<#include "/layout/_layout.html" />
<@head title="首页|四眼井|互联网人的乐园 "></@head>
<@body>
	<div style="width:500px;margin:20px auto">
		<div class="ui-box">
			<div class="ui-box-title">
				<h3>用户登录</h3>
			</div>
			<div class="ui-box-container ui-box-content">
				<form action="/login/submit" method="post" class="ui-form">
					<input type="hidden" name="redirect" value="${redirect}"/>
					${error!}
					<div class="ui-form-item">
            			<label for="" class="ui-label">
                			用户名
            			</label>
            			<input class="ui-input" type="text" name="users.username">
        			</div>
					<div class="ui-form-item">
            			<label for="" class="ui-label">
                			密码
            			</label>
            			<input class="ui-input" type="text" name="users.password">
        			</div>
					<div class="ui-form-item">
						<input type="submit" class="btn-g blue" value="登录">
            			<input type="button" class="btn-g white" value="取消">
        			</div> 
				</form>
			</div>
		</div>
	</div>
</@body>
